@{
    ViewData["Title"] = "Home Page";
}




<!--- =================== main Section ====================-->
<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-5  py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">Fizz Buzz: A Coding Project</h1>
                <h4 class="lead">
                    When it counts you Fizz Buzz. A Javascript coding exercise using loops.
                    This is a program that prints the numbers from 1 to 100 and for multiples of Fizz values (chosen by the user), it displays
                    'Fizz' instead of the number.For the multiples of Buzz values (chosen by the user), it displays 'Buzz'. For multiples of
                    both Fizz and Fuzz, it displays 'FizzBuzz'. ALl other values are displayed as usual.
                </h4>
                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Fundamentals</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Loops</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Functions</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript DOM Manipulation</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript If/Then/Else</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Boolean Logic</li>
                </ul>
                <div>
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" href="app.html">Try It Out</a>
                </div>

                <div class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col"><h1>C#</h1></div>
                            <div class="col"><i class="fab fa-bootstrap fa-3x bsicon"></i></div>
                            <div class="col"><i class="fab fa-html5 fa-3x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-3x css3icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="img/fizzBuzzImage.svg" alt="logo for Fizz Buzz project"
                     class="img-fluid center-block d-block mx-auto" width="500"/>
            </div>
        </div>
    </div>
</main>
<!--- =================== End of main Section ====================-->
